
header{
    
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}
.stud{
    font-size: 38px;
    font-weight: bold;
    font-family: serif;
}
.add{
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    border-radius: 20px;
}
.add:hover{
   cursor: pointer;
}
table{
    width: 90%;
    margin:auto;
    background: white;
    border-radius: 5px;
    border-collapse: collapse;

}
table tr {
   display: flex;
   align-items: center;
   justify-content: space-around;
   /* margin: auto; */

}
table tr td ,
table thead tr th{
    max-width: 150px;
    width: 20%;
    /* border: 2px solid black; */
  margin: 1px;
  display: flex;
  justify-content: center;

}

table tr{
border: 1px solid black;
height: 50px;

}

table tr td:nth-last-child(n){
    display: flex;
    justify-content:flex-end;

}
table thead tr th:nth-last-child(n){
    display: flex;
    justify-content:flex-end;
}
table tr td:nth-child(1),
table thead tr th:nth-child(1) {
    
    max-width: 150px;
    width: 20%;
    /* border: 2px solid black; */
  margin: 1px;
  display: flex;
  justify-content: flex-start;
color: black;
text-decoration: none;
cursor: none;
}